* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f2f2;
}

/* 1. Flexbox */
/* body {
  height: 100vh;
  background: #121214;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 1rem;
} */

/* 2. Position */
/* body {
  height: 100vh;
  background: #121214;
  position: relative;
}

.container {
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* 3. CSS Grid */
/* body {
  height: 100vh;
  background: #121214;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 200px;
  display: grid;
  place-items: center;
} */

/* 4. Margin auto on a flex item */
/* body {
  height: 100vh;
  background: #121214;
  display: flex;
}

.container {
  max-width: 200px;
  margin: auto;
} */

/* 5. Margin auto on a grid item */
/* body {
  height: 100vh;
  background: #121214;
  display: grid;
}

.container {
  max-width: 200px;
  margin: auto;
} */

/* 6. Pseudo-elemtens on a flex container */
body {
  height: 100vh;
  background: #121214;
  display: flex;
  flex-direction: column;
}

body::before,
body::after {
  content: "";
  flex: 1;
}

.container {
  background: #212121;
  padding: 1rem;
  max-width: 200px;
  margin: 0 auto;
}
